﻿@using Tweetinvi.Models;
@model List<ITweet>

    <div class="col-12">
        @if (Model != null)
        {
            <table border="0" cellpadding="0" cellspacing="0">

                @foreach (ITweet tweet in Model)
                {
                <tr>
                    <td>@tweet.CreatedBy</td>
                </tr>
                <tr>
                    <td>@tweet.TweetLocalCreationDate.ToString()</td>
                </tr>
                <tr>
                    <td><p>@tweet.Text</p></td>
                </tr>
                }
            </table>
        }
    </div>