﻿
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="display-4">Twitter Search</h3>
</div> <br /> <br />
<div class="row">
    <div class="col-md-4">
        <input type="text" id="searchText" width="200" class="form-control" />
    </div>
    <div class="col-md-2">
        <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
    </div>
    <div class="col-md-6">

    </div>
</div>
<br />
<div id="searchResults">

</div>

@section scripts {
    <script type="text/javascript">
    $(document).ready(function(){

        var url = '@Url.Action("DisplaySearchResults", "Search")';
        $('#btnSearch').click(function() {
            var keyWord = $('#searchText').val();
            $('#searchResults').load(url, { searchKey: keyWord });
        })

    });

    </script>
}